<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>donut-tychoon</title>
  </head>
  <body>
    <h1>Create a new donuts</h1>
    <form class="pure-form" action="/donuts" method="post">
    <input type="text" class="pure-input-rounded" value='' placeholder="name" name='name'>
    <input type="text" class="pure-input-rounded" value='' placeholder="topping" name='topping'>
    <input type="integer" class="pure-input-rounded" value='' placeholder="price" name='price'>
    <button type="submit" class="pure-button" name="submit">Submit</button>
  </form>



    <!--
    <form class="create" action="/donutss" method="post">
      <div>
        <label>Name:</label>
        <input value='' name='name'>
      </div>
      <div>
        <label>City:</label>
        <input value='' name='city'>
      </div>
      <input type="submit" name='Submit'>
    </form> -->
  </body>
</html>
