<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>donut-tychoon</title>
  </head>
  <body>
    <h1>All the shops!</h1>
    <form class="create" action="/shops" method="post">
      <div>
        <label>Name:</label>
        <input value='' name='name'>
      </div>
      <div>
        <label>City:</label>
        <input value='' name='city'>
      </div>
      <input type="submit" name='Submit'>
    </form>
    <ul>
    </ul>
  </body>
</html>
